h1 {    
    text-align: center;
    font-size: 38px;
    font-weight: 100;
    background-image: linear-gradient(to left, blue, #f50c46);
    color: transparent;
    background-clip: text;
    margin-top: 0%;
    /* -webkit-background-clip: text; */
}

        body {
            font-family: Arial, sans-serif;
            background-image: url(no.jpeg);
            /* background-color: #f8f9fa; */
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size:cover;
            margin: 0;
            padding: 20px;
        }
        body::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(226, 201, 201, 0.5); /* Adjust the color and opacity here */
            z-index: -1; /* Keep the overlay behind the content */
          }
          nav {
            display: flex;
            justify-content: right;
            /* background-color: #a59595; */
        }
        nav a {
            color: white;
            padding: 14px 20px;
            text-decoration: none;
            text-align: center;
            font-size: 30px;
        }

        nav a:hover {
            background-color: #ddd;
            color: black;
        }
        

        form {
            background-color: #bea9a9;
            padding: 15px;
            border-radius: 5px;
            max-width: 500px;
            margin:auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
       
        

        label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: calc(100% - 20px);
            padding: 10px;
            /* margin-bottom: 5px; */
            border-radius: 4px;
            border: 1px solid #948686;
            box-sizing:content-box ;

        }

        input[type="submit"] {
            background-color: #007bff;
            color: white;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
        }
        .result {
            margin-top: 20px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
        }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }
              